.navbar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: .5rem;
}

.navbar a {
    display: inline-block;
    transition: transform 0.2s ease;
}

.navbar a:hover{
    transform: scale(1.07);
}

.navbar a:active{
    transform: scale(1.03);
}

