:root {
  --color-background: #F4EBDD;
  --color-card: #FBF8F1;
  --color-header: #173F35;
  --color-text: #20352E;
  --color-text-secondary: #6F6A5F;
  --color-primary: #E85A18;
  --color-primary-hover: #C9470D;
  --color-secondary: #D5DEC3;
  --color-link: #245A48;
  --color-accent: #C96A3A;
  --color-border: #D8CDBB;
  --color-input: #FFFDF8;
}

body{
  background-color: var(--color-background);
}